// 常用变量

$font-family-default: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;

$font-light: "PingFang SC Light","PingFang SC","Microsoft YaHei",$font-family-default;
$font-regular: "PingFang SC Regular","PingFang SC","Microsoft YaHei",$font-family-default;
$font-medium: "PingFang SC Medium","PingFang SC","Microsoft YaHei",$font-family-default;
$font-bold: "PingFang SC Semibold","PingFang SC","Microsoft YaHei",$font-family-default;
$font-heavy: "PingFang SC Semibold","PingFang SC","Microsoft YaHei",$font-family-default;

$h1-font-size: 48px;
$h2-font-size: 40px;
$h3-font-size: 36px;
$h4-font-size: 32px;
$p-font-size: 14px;
$a-font-size: 14px;
$time-font-size: 24px;
$sub-font-size: 14px;
$button-font-size: 24px;

$h1-font-color: #000;
$h2-font-color: #000;
$h3-font-color: #000;
$h4-font-color: #000;
$p-font-color: #000;
$a-font-color: #3C6EFF;
$em-font-color: #3C6EFF;
$time-font-color: #999;
$sub-font-color: #000;
$button-font-color: #FFF;
$button-bg-color: #3C6EFF;

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-heavy: 900;

